<!-- Search Form -->
<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <div class="search-form">
        <input
            class="search-field location"
            name="departure"
            list="locations"
            id="departure-point"
            placeholder="From"
            required
        >

        <input
            class="search-field location"
            name="destination"
            list="locations"
            id="destination-point"
            placeholder="To"
            required
        >

        <datalist id="locations">
            {% for location in locations %}
                <option value="{{location}}"></option>
            {% endfor %}
        </datalist>

        <input
            class="search-field location" 
            name="travel_time"
            type="date"
            placeholder="Select travel time"
            required
        >

        <input
            class="search-field location"
            name="passengers"
            type="number"
            placeholder="Passengers"
        >

        <button class="search-btn" type="submit">
            Search
        </button>
    </div>
</form>