
.row::after{
    content: '';
    display: table;
    clear:both;

}
header{
    background-color:#ffffff;
    
    padding:30px;

}
header h1{
    text-align: center;
    font-size:60px;
    color:#000000;
    margin:1.5 0px;
    
}
h2{
    color: #000000;
    margin:1.5 0px;

}
.left-column{
    float:left;
    width:75%;
    padding-left:20px ;

}
.right-column{
    width: 25%;
    float:right;
    padding-left:20px ;

}
.card{
    padding:20px;
    background-color: #ffffffff;
    margin-top:20px;
    /*box-shadow: 0 0 20px 0px blue ;*/
    
}
.card img{
    width:100%;
}
.right-column .card img{
    margin-bottom: 15px;

}
.car img{
    width: 80%;
    
}
.dog img{
    width:80%;
}
.Course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px ;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col:hover{
    /*box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2) ;*/
    box-shadow: 0 0 20px 0px red ;
}
.footer{
    margin-top:150px ;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display:flex;
}
.footer div{
    text-align: center;

}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color:#efefef;
    margin-bottom: 10px;


}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;


}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px; 
    font: size 15px;
    cursor: pointer;

}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
@media(max-width:800px){
    .left-column,.right-column{
      width: 100%;  
      padding: 0px;
    }
}