.search-form{
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    text-align: center;
    
    
    
}
.form-center{
    display:flex;
    justify-content: center;
    
}
button{
    /*background: transparent;*/
    background:gray;
    width: 150px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 80px;
    padding: 10px 30px; 
    font: size 15px;
    cursor: pointer;


}
button:hover{
    background: #ffc107;
    cursor: pointer;
}


fieldset {
    margin:2em 0;
    padding:1em 2em;
    border:solid 1px #ccc;
    border-radius:6px ;
    min-width:200px ;
    align-items: center;

}

fieldset{
    width:40%;
    min-width: 320px;
    margin:auto;
}
label {
    display:block;
    margin-top: 1em;
    

}

input {
    padding: .5em;
    border: solid 1px #999;
    
}
input[type="text"]{
    width:350px;
}