{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BusRez</title>

    <!-- Styles -->
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/result.css' %}">
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
    <script>
        var navLinks = document.getElementById("navLinks");
       
        function ShowMenu(){
            navLinks.style.right = "0"
        };
        function hideMenu(){
            navLinks.style.right = "-200px"
        };
    </script>
</body>
</html>